@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BookStore</h1>
    <p>Endereço: Av. Parana, 123.</p>
</div>

<button onclick= "location.href='/produtos'" class="btn btn-dark" >Produtos</button>
<button onclick= "location.href='/Clients'" class="btn btn-dark" >Clientes</button>
<button onclick= "location.href='/empresas'" class="btn btn-dark" >Empresas</button>


